/BusinessEntities/bin/Debug/netstandard2.0
/BusinessEntities/obj/Debug/netstandard2.0
/BusinessLayer/bin/Debug/netstandard2.0
/BusinessLayer/obj/Debug/netstandard2.0
/FirstNetCoreApp/obj/Debug
/FirstNetCoreMVC/bin/Debug
/FirstNetCoreMVC/obj/Debug
/packages
/WebServices/obj/Debug
/.vs
/BusinessEntities/obj
/BusinessLayer/obj
/FirstNetCoreApp/obj
/FirstNetCoreMVC/obj
/FirstNetCoreApp/bin/Debug/netcoreapp2.1
/NetCore.Entities.Generated/bin/Debug
/NetCore.Entities.Generated/obj/Debug
/WebServices/bin/Debug
/NetCore.Entities.Generated/packages.config
/NetCore.Entities.Generated/Properties
ElRacoDePipo.Web/bin/Debug/netcoreapp2.2/ElRacoDePipo.Web.deps.json
*.dll
*.pdb
/obj
/ElRacoDePipo.Web/bin/Debug
/ElRacoDePipo.Web/obj/Debug
/ElRacoDePipo.Web/obj/Debug/netcoreapp2.2
*.cache
