################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstNetCoreMVC/bin/Debug
/FirstNetCoreMVC/obj
/BusinessEntities/bin/Debug/netstandard2.0
/BusinessEntities/obj/Debug/netstandard2.0
/BusinessEntities/obj
/BusinessLayer/bin/Debug/netstandard2.0
/BusinessLayer/obj/Debug/netstandard2.0
/BusinessLayer/obj
/.vs
/FirstNetCoreApp/obj/Debug/netcoreapp2.0
/FirstNetCoreApp/obj/Debug/netcoreapp2.1
/FirstNetCoreApp/obj
/.vs/FirstNetCoreApp/v15
/BusinessEntities/bin/Debug/netstandard2.0
/BusinessEntities/obj/Debug/netstandard2.0
/BusinessEntities/obj
/BusinessLayer/bin/Debug/netstandard2.0
/BusinessLayer/obj/Debug/netstandard2.0
/BusinessLayer/obj
/FirstNetCoreApp/bin/Debug/netcoreapp2.0
/FirstNetCoreApp/obj/Debug/netcoreapp2.0
/FirstNetCoreApp/obj
/FirstNetCoreMVC/bin/Debug/netcoreapp2.0
/FirstNetCoreMVC/obj/Debug/netcoreapp2.0
/FirstNetCoreMVC/obj
/.vs/config
/FirstNetCoreApp/bin/Debug/netcoreapp2.1/refs
/FirstNetCoreApp/bin/Debug/netcoreapp2.1
/WebServices/obj/Debug
/WebServices/bin/Debug
/packages
