/BusinessEntities/bin/Debug/netstandard2.0
/BusinessEntities/obj/Debug/netstandard2.0
/BusinessLayer/bin/Debug/netstandard2.0
/BusinessLayer/obj/Debug/netstandard2.0
/FirstNetCoreApp/obj/Debug
/FirstNetCoreMVC/bin/Debug
/FirstNetCoreMVC/obj/Debug
/packages
/WebServices/obj/Debug
/.vs
/BusinessEntities/obj
/BusinessLayer/obj
/FirstNetCoreApp/obj
/FirstNetCoreMVC/obj
