@model List<FirstNetCoreMVC.ViewModels.MoviesByGenreViewModel>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table">
    <thead>
        <tr>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <th>
                    @Html.DisplayFor(x => Model[i].Genre)
                </th>
            }
        </tr>
    </thead>
    <tbody>
    
        @for (var i = 0; i < (Model.Count > 0 ? Model.Max(t => t.Movies.Count) : 0); i++)
        {
            <tr>
                @for (var x = 0; x < Model.Count(); x++)
                {
                    if (Model[x].Movies.Count > i)
                    {
                        <td>
                            @Model[x].Movies[i].Title
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>