<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="WebServices.Services.CalculatorService" behaviorConfiguration="calculatorBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/CalculatorService"/>
          </baseAddresses>
        </host>
        
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WebServices.Interfaces.ICalculator" />

        <endpoint address="mex"
                 binding="mexHttpBinding"
                 contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorBehavior">
          <serviceMetadata httpGetUrl="http://localhost:8000/CalculatorService/mex" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>